.container {
  width: 350px;
  margin: auto;
  border: 1px solid rgb(214, 212, 212);
  height: 350px;
  border-radius: 5px;
  margin-top: 50px;
}

.cource-name {
  font-weight: 700;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
}

.cource-name1 {
  margin-top: -15px;
  margin-left: 25px;
  font-weight: bold;
  font-size: 18px;
}

.email-txt {
  margin-top: 25px;
  margin-left: 25px;
  font-size: 15px;
}

.filled-email {
  margin-left: 25px;
  margin-top: 5px;
  padding: 10px;
  width: 80%;
  background-color: rgb(248, 248, 248);
  margin-right: 25px;
  border: 1px solid rgb(0, 165, 236);
}

.choose-batch {
  /* margin-top: 100px; */
  margin-left: 25px;
  font-size: 15px;
}

.space{
    margin-top: 20px;
}

/* select tag----------------------------------------------- */

.select_box {
  display: flex;
  width: 300px;
  /* margin-top: 15px; */
  margin-left: 15px;
  justify-content: space-between;
  flex-direction: column;
}

.select_box .options_container {
  background-color: white;
  color: rgb(90, 86, 86);
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}

.selected {
  /* background-color: rgb(0, 165, 236); */
  border-radius: 3px;
  margin-bottom: 5px;
  border: 1px solid rgb(0, 165, 236);
  color: black;
  font-weight: 500;
  position: relative;
  order: 0;
}

.selected::after {
  content: "";
  background: url("/Traning_Page/images/down-filled-triangular-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 15px;
  right: 10px;
  top: 8px;
  transition: all 0.4s;
}

.select_box .options_container.active {
  max-height: 240px;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.select_box .options_container.active + .selected::after {
  transform: rotate(180deg);
  top: -6px;
}

.select_box .options_container::-webkit-scrollbar {
  width: 4px;
  background: white;
  border-radius: 0 8px 8px 0;
}

.select_box .options_container::-webkit-scrollbar-thumb {
  /* width: 8px; */
  background: rgb(187, 187, 187);
  border-radius: 0 8px 8px 0;
}

.select_box,
.option,
.selected {
  padding: 5px 10px;
  cursor: pointer;
}

.select_box .option:hover {
  background-color: rgb(230, 244, 252);
  color: rgb(0, 165, 236);
}

.select_box label {
  cursor: pointer;
}

.select_box .option .radio {
  display: none;
}

/* select tag----------------------------------------------- */

.price-discount {
  display: flex;
  margin-top: -10px;
}

.orange {
  color: rgb(245, 136, 63);
  margin-left: 25px;
  margin-bottom: 15px;
}

.pay-btn{
    width: 85%;
    padding: 2px 0;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(0, 165, 236) ;
}

.pay-btn p{
    margin: auto;
    color: white;
    padding: 7px 0;
}